#search{
    margin-top:3rem!important;
}
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background: #ecebeb!important;
}

main {
    flex: 1 0 auto;
}
::-webkit-scrollbar{
    display:none;
}
.card .card-image .card-title {
    color: #9E9E9E!important;
    background: #ffffff!important;
    text-align: center!important;
    width: 100%!important;
}