<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>企业知识库管理系统</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link type="text/css" rel="stylesheet" href="css/materialize.min.css"/>
    <link type="text/css" rel="stylesheet" href="css/userView.css"/>
    <link type="text/css" rel="stylesheet" href="css/style.min.css"/>
    <!--评论模块-->
    <script src="./js/av-min.js"></script>
    <script src='./js/Valine.min.js'></script>
</head>
<body>
<nav>
    <div class="nav-wrapper teal darken-1">
        <a href="./userIndex.html" class="brand-logo"><img src="./images/userLogo.png" style="width:60px;"></a>
        <a href="#" data-activates="mobile-demo" class="button-collapse right"><i class="material-icons" style="color:white">menu</i></a>
        <ul class="side-nav" id="mobile-demo">
            <li><div class="userView">
                <div class="background">
                    <img src="images/office.jpg">
                </div>
                <a href="#!user"><img class="circle" src="images/yuna.jpg"></a>
                <a href="#!name"><span class="white-text name">王花花</span></a>
                <a href="#!email"><span class="white-text email">jdandturk@sina.com</span></a>
            </div></li>
            <li><a href="./userIndex.html">首页</a></li>
            <li><a href="#" onclick="openFileUploadPage()">文档上传</a></li>
            <li><a href="#">知识路径</a></li>
            <li><div class="divider"></div></li>
            <li><a class="waves-effect" href="./userDocuments.html">我的文档</a></li>
            <li><a class="waves-effect" href="./userSubscriptions.html">我的订阅</a></li>
            <li><a class="waves-effect" href="./userCollections.html">我的收藏</a></li>
            <li><div class="divider"></div></li>
            <li><a class="waves-effect" href="./userAccount.html">账号设置</a></li>
        </ul>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="./userIndex.html">首页</a></li>
            <li><a href="#" onclick="openFileUploadPage()">文档上传</a></li>
            <li><a href="#">知识路径</a></li>
            <li><a href="#" data-activates="slide-out" id="selfCard"><i class="material-icons">menu</i></a></li>
        </ul>
    </div>
</nav>
<ul id="slide-out" class="side-nav">
    <li><div class="userView">
        <div class="background">
            <img src="images/office.jpg">
        </div>
        <a href="#!user"><img class="circle" src="images/yuna.jpg"></a>
        <a href="#!name"><span class="white-text name">王花花</span></a>
        <a href="#!email"><span class="white-text email">jdandturk@sina.com</span></a>
    </div></li>
    <li><a class="waves-effect" href="./userDocuments.html">我的文档</a></li>
    <li><a class="waves-effect" href="./userSubscriptions.html">我的订阅</a></li>
    <li><a class="waves-effect" href="./userCollections.html">我的收藏</a></li>
    <li><div class="divider"></div></li>
    <li><a class="waves-effect" href="./userAccount.html">账号设置</a></li>
</ul>
<br>
<div class="container" id='app'>
    <div class="row">
        <div class="card">
            <!-- 内容主体区域 -->
            <div class="tree">
                <tree :node="rootNode"></tree>
            </div>
        </div>
    </div>
</div>
<br>
<!--footer-->
<footer class="page-footer teal darken-1">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">关于我们</h5>
                <p class="grey-text text-lighten-4">超威蓝猫提供技术支持。</p>
            </div>
            <div class="col l4 offset-l2 s12">
                <h5 class="white-text">相关链接</h5>
                <ul>
                    <li><a class="grey-text text-lighten-3" href="https://bbs.fatdoge.cn" target="_blank">知识社区</a></li>
                    <li><a class="grey-text text-lighten-3" href="https://status.fatdoge.cn" target="_blank">状态监控</a></li>
                    <li><a class="grey-text text-lighten-3" href="https://fatdoge.cn" target="_blank">企业博客</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            &copy;&nbsp;2018&nbsp;Copyright&nbsp企业知识库管理系统
            <a class="grey-text text-lighten-4 right" href="https://github.com/fatdoge/EKMS" target="_blank">Github</a>
        </div>
    </div>
</footer>
<!--end-->
<script src="js/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="js/materialize.min.js"></script>
<script src="./js/userOperations.js"></script>
<script src="./css/layui/layui.js"></script>
<script src="http://cdn.bootcss.com/vue/1.0.17/vue.min.js"></script>

<script>
    var TreeNode = Vue.extend({
        data: function(){
            return {
                show_oprators: false,
                is_draged: false,
            }
        },
        name: 'tree-node',
        props: ['node'],
        template: `
        <li draggable="false" @dragstart.stop="handleDragStart($event)" @dragenter="handleDragEnter" @dragleave="handleDragLeave" @dragover.prevent="handleDragOver" @drop.stop="handleDrop($event)" @dragend.prevent="handleDragEnd">
            <span @mouseenter="showOprators" @mouseleave="hideOprators">
                <a @click="toggle">{{node.name}}</a>
                <small v-if="show_oprators">
                    <a @click="editLink" href="#">开始学习</a>
                </small>
            </span>
            <ul v-show="node.children.length"><tree-node v-for="node in node.children" :node.sync="node"></tree-node></ul>
        </li>`,
        methods:{
            handleDrop: function(e){
                var vm = window.__drop_node__;
                this.$el.style.backgroundColor = '';
                vm.$el.style.backgroundColor = '';
                var __parent__ = this;
                while (__parent__ !== undefined){
                    if (__parent__ === vm){
                        return;
                    }
                    __parent__ = __parent__.$parent;
                }
                var current_node = vm.node;
                vm.$parent.node.children = vm.$parent.node.children.filter(function(node){
                    return node !== current_node;
                });
                this.node.children.push(current_node);
            },
            handleDragEnd: function(){
                this.$el.style.backgroundColor = '';
            },
            handleDragStart: function(e){
                this.show = false;
                this.is_draged = true;
                window.__drop_node__ = this;
                this.$el.style.backgroundColor = '#e0e0e0';
            },
            handleDragEnter: function(){ if(!this.is_draged) this.$el.style.backgroundColor = "#9e9e9e"; },
            handleDragLeave: function(){ if(!this.is_draged) this.$el.style.backgroundColor = ""; },
            handleDragOver: function(){},
            showOprators: function(){ this.show_oprators = true; },
            hideOprators: function(){ this.show_oprators = false; },
            editLink: function(){
                window.open(this.node.link)

            }

        }
    });

    var Tree = Vue.extend({
        name: 'tree',
        props: ['node'],
        components: {
            'tree-node': TreeNode
        },
        template: '<ul><tree-node :node.sync="node"></tree-node><ul>',
    });

    var app = new Vue({
        el: '#app',
        data: {
            rootNode: {
                name: 'Web前端',
                children: [
                    {name: '基础', children:[{name: 'HTML+CSS', children:[],link: 'https://bbs.fatdoge.cn'}, {name: 'javascript初级', children:[]}],link: 'https://bbs.fatdoge.cn'},
                    {name: '进阶', children:[{name: 'Bootstrap', children:[],link: 'https://bbs.fatdoge.cn'}, {name: 'jQuery', children:[],link: 'https://bbs.fatdoge.cn'}],link: 'https://bbs.fatdoge.cn'},
                    {name: '高级', children:[{name: 'Vue+Vuex+axios', children:[],link: 'https://bbs.fatdoge.cn'}, {name: 'webpack', children:[],link: 'https://bbs.fatdoge.cn'}],link: 'https://bbs.fatdoge.cn'},
                ],
                link:'https://bbs.fatdoge.cn'
            }
        },
        computed: {
            tree_json: function(){
                return JSON.stringify(this.rootNode);
            }
        },
        components: {
            'tree': Tree
        },
    });

</script>
<script>
    $('#selfCard').sideNav({
            menuWidth: 300, // Default is 240
            edge: 'right', // Choose the horizontal origin
            //   closeOnClick: true, // Closes side-nav on <a> clicks, useful for Angular/Meteor
            draggable: true // Choose whether you can drag to open on touch screens
        }
    );
    $(document).ready(function(){
        $('.scrollspy').scrollSpy();
        $(".button-collapse").sideNav();
    });
</script>
</body>
<style>
    body {
        display: flex!important;
        min-height: 100vh!important;
        flex-direction: column!important;
    }

    main {
        flex: 1 0 auto!important;
    }
    #app li {
        padding: 0.2em 0.5em;
        border-left: 1px dashed #009688;
        margin-left: 2em;
    }
    #app li a{
        width: 20px;
        padding: 0 20px;
        background-color: #009688;
        color: #fff;
        white-space: nowrap;
        text-align: center;
        font-size: 20px;
        font-weight: lighter;
        border: none;
        margin: 40px auto;
        transition: 0.4s ease-in-out;
        box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    }
    #app li a:hover{
        background: #26A69A;
    }
    .tree {
        background-color: #EFEFEF;
    }
</style>
</html>